
.wrap-detail .table {
  margin: 0;
  clear: both;
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  white-space: nowrap;
  word-break: break-all;
  table-layout: fixed;
}

.wrap-detail .portrait {
  width: 28px;
  height: 28px;
  border-radius: 50%;
}


.wrap-detail .table.table-striped td,
.wrap-detail .table.table-striped th {
  vertical-align: middle;
  box-sizing: border-box;
  font-size: 14px;
  padding-top: 9px;
  padding-bottom: 9px;
  min-height: 24px;
  line-height: initial;

  border-bottom-width: 1px !important;
  border-bottom-color: #f5f5f5 !important;
  border-bottom-style: solid !important;
}

.wrap-detail .table.table-striped td:first-child,
.wrap-detail .table.table-striped th:first-child {
  padding-left: 0;
}


.wrap-detail .table.table-striped .item-box {
  height: 100%;
  display: flex;
  align-items: center;
}

.wrap-detail .table tr:last-child td{
  padding-bottom: 8px !important;
}

.wrap-detail .table.table-striped thead th {
  color: #b0bac5;
  font-size: 14px;
  height: 45px;
  border-bottom-color: #e5e5e5 !important;
}
.wrap-detail .table.table-striped tbody tr {
  background-color: transparent !important;

}

.wrap-detail .table.table-striped tbody tr:hover {
  background-color: #f8f8f8 !important;
}
