<!-- 公告通知 -->
<link rel="stylesheet" href="/static/css/page/work.css">
<div class="wrap-works">
    <table class="table table-striped">
        <colgroup>
            <col>
            <col>
        </colgroup>
        <thead>
        <tr>
            <th>
                <span>名称</span>
            </th>
            <th>
                <span>路径</span>
            </th>
        </tr>
        </thead>
        <tbody>
            {% for item in list %}
                <tr>
                    <td class="ellipsis">
                        <div class="flex items-center">
                            <i class="text-2xl flex">
                                {{ iconfont(item.type) }}
                            </i>
                            <span class="ml-2">{{ item.name || "--" }}</span>
                        </div>
                    </td>
                    <td>
                        <span>{{ item.ctime || "--" }}</span>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
