<!-- 我的待办 -->
<div class="wrap-works">
  <table class="table table-striped">
    <colgroup>
      <col>
      <col style="min-width: 100px; max-width: 200px; width: 25%;">
      <col style="min-width: 100px; max-width: 200px; width: 25%;">
    </colgroup>
    <thead>
      <tr>
        <th>
          <span class="item-box">事项</span>
        </th>
        <th>
          <span class="item-box">申请人</span>
        </th>
        <th class="text-left">
          <span class="item-box">申请时间</span>
        </th>
      </tr>
    </thead>
    <tbody>
      {% for item in list %}
        <tr>
          <td>
            <div class="ellipsis">
              {{ iconfont(item.icon, "align-middle text-2xl") }}
              <span class="align-middle ml-1">{{ item.fileName || "--" }}</span>
            </div>
          </td>
          <td>
            <div class="whitespace-nowrap">
              {% if item.status %}
                <img class="portrait align-middle" src="/static/images/temp/28.png">
                <span class="align-middle ml-1">{{ item.status }}</span>
              {% else %}
                <span>--</span>
              {% endif %}
            </div>
          </td>
          <td>
            <div class="text-left whitespace-nowrap">
              <span>2021-09-11 00:00</span>
            </div>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
