<!-- 我的待办 -->
<link rel="stylesheet" href="/static/css/page/work.css">
<div class="wrap-works">
  {% set grades = { '1': '紧急', '2': '高', '3': '中', '4': '底', '5': '无关紧要' } %}
  <table class="table table-striped">
    <colgroup>
      <col>
      <col style="width: 100px;">
      <col style="width: 100px;">
      <col style="width: 150px;">
    </colgroup>
    <thead>
      <tr>
        <th>
          <span>标题</span>
        </th>
        <th>
          <span>状态</span>
        </th>
        <th class="text-left">
          <span>优先级</span>
        </th>
        <th>
          <span>预计结束</span>
        </th>
      </tr>
    </thead>
    <tbody>
      {% for item in list %}
        <tr>
          <td class="ellipsis">
            <span>{{ item.fileName || "--" }}</span>
          </td>
          <td>
            <div class="whitespace-nowrap">
              {% if item.status %}
                <span class="wrok-status">{{ item.status }}</span>
              {% else %}
                <span>--</span>
              {% endif %}
            </div>
          </td>
          <td>
            <div class="text-left whitespace-nowrap">
              {% if item.grade && grades[item.grade] %}
                <span class="wrok-grade {{ 'level-' + item.grade }}">{{ grades[item.grade] }}</span>
              {% else %}
                <span>--</span>
              {% endif %}
            </div>
          </td>
          <td>
            <div class="whitespace-nowrap">
              <span>{{ item.countDown || "--" }}</span>
            </div>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>